<div class="container">
  <div class="row justify-content-md-center">
    <div class="col-8 mt-2">

      <div class="card text-center shadow mb-2 bg-white rounded">

        <div class="card-header fst-italic">
          <% if @article.user %>
            by: <%= @article.user.username.capitalize %>
            <%= link_to avatar_for(@article.user, size:('100x100')),
                        user_path(@article.user) %>
          <% end %>
        </div>

        <div class="card-body">
          <h5 class="card-title">
            <%= link_to @article.title.capitalize,
                        article_path(@article),
                        class: 'link-primary text-decoration-none' %>
            </h5>
          <div class="card-text text-start"><%= simple_format(@article.description) %></div>
          <% if logged_in? && (current_user == @article.user || current_user.admin) %>
            <%= link_to "Edit", edit_article_path(@article), class: "btn btn-outline-secondary" %>
            <%= button_to "Delete", @article,
                                    class: "btn btn-outline-danger",
                                    method: :delete,
                                    onclick: "return confirm('Are you sure?')" %></li>
          <% end %>
        </div>

        <div class="card-footer text-muted">
          <% if @article.categories.any? %>
					    <!--The line below is some Rails magic to ease the display of an array of
					    objects. The render function will look for a partial called "_category"
							and pass to it each category object given by @articles.categories.
							It is like looping through @articles.categories.each do.
              AND, amazingly enough, Rails will look for the partial in all views folders
              so we can out it with the other categories views -->
						<strong>Categories:</strong><%= render @article.categories %>
					<% end %>

          <div class="small mt-1 text-center">
            <p>Created: <%=time_ago_in_words(@article.created_at)%> ago.<br>
               Edited: <%=time_ago_in_words(@article.updated_at)%> ago. </p>
          </div>
        </div>

      </div>

    </div>
  </div>
</div>

