<h2 class="text-center mt-2"><%= "Blogger: #{@user.username}" %></h2>

<div class="text-center d-block mt-2">
  <%= avatar_for(@user, size:('100x100')) %>
</div>

<div class="text-center mt-2 mb-2">
  <% if current_user == @user %>
    <%= link_to 'Update Your Profile', edit_user_path(@user.id),
                class: "btn btn-outline-dark" %>
  <% end %>
</div>

<% if @user.articles.count > 0 %>
  <h5 class="text-center mt-4">Articles by <%= @user.username %>:</h5>

  <div class="apple_pagination">
    <%= will_paginate @articles, container: false %>
  </div>

  <%= render 'articles/article_list' %>

  <div class="apple_pagination">
    <%= will_paginate @articles, container: false %>
  </div>

<% end %>
