<nav class="navbar navbar-expand-md navbar-dark bg-dark">
  <div class="container-fluid">
    <%= link_to "Alpha Blog", root_path, class: "navbar-brand", id: "logo" %>

    <!--This button is the hamburger button that navbar functions collapse into on small screens -->
    <button class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
            aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button"
             data-bs-toggle="dropdown" aria-expanded="false">
            Bloggers
          </a>
          <ul class="dropdown-menu">
            <% if !logged_in? %>
              <li> <%= link_to "Sign Up!", signup_path, class: "dropdown-item" %></li>
              <li><hr class="dropdown-divider"></li>
              <li><%= link_to "Log In", login_path, class: "dropdown-item" %></li>
              <li><hr class="dropdown-divider"></li>
            <% end %>
            <li><%= link_to "Our Bloggers", users_path, class: "dropdown-item" %></li>
          </ul>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button"
             data-bs-toggle="dropdown" aria-expanded="false">
            Articles
          </a>
          <ul class="dropdown-menu">
            <li><%= link_to "Articles Listing", articles_path, class: "dropdown-item" %></li>
            <li><%= link_to "Article Categories", categories_path, class: "dropdown-item" %></li>
          </ul>
        </li>

        <% if logged_in? && current_user %>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button"
              data-bs-toggle="dropdown" aria-expanded="false">
              <%= "(Admin:)  " if current_user.admin%> <%= current_user.username.titleize %>
            </a>
            <ul class="dropdown-menu">
              <li><%= link_to "My Articles", user_path(current_user), class: "dropdown-item" %></li>
              <li><%= link_to "New Article", new_article_path, class: "dropdown-item" %></li>
              <li><hr class="dropdown-divider"></li>
              <li><%= link_to "Edit My Profile",
                              edit_user_path(current_user),
                              class: "dropdown-item" %></li>
              <li><hr class="dropdown-divider"></li>
              <li><%= link_to "Log Out", logout_path,
                              class: "dropdown-item",
                              data: { "turbo-method": :delete } %></li>
              <li><hr class="dropdown-divider"></li>
              <li><%= link_to "Create a Category",
                              new_category_path,
                              class: "dropdown-item" %></li>
              <li><hr class="dropdown-divider"></li>
              <li><%= button_to "Delete Account",
                                user_path(current_user),
                                class: "dropdown-item text-danger",
                                method: :delete,
                                onclick: "return confirm('Are you sure?')" %></li>
            </ul>
        <% end %>

      </ul>

      <ul class="nav navbar-nav navbar-right">

        <li class="nav-item ml-auto">
          <%= link_to "About", about_path, class: "nav-link" %>
        </li>

      </ul>

    </div>
  </div>

</nav>
